# Data Science Challenge

In [ ]:
# If you'd like to install packages that aren't installed by default, uncomment the last two lines of this cell and replace <package list> with a list of your packages.
# This will ensure your notebook has all the dependencies and works everywhere

#import sys
#!{sys.executable} -m pip install <package list>

In [ ]:
#Libraries
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 99)

## Data Description

Column | Description
:---|:---
`District` | The name of the district 
`Neighborhood` | The name of the neighborhood area
`PropertyType` | The type of the property
`CancellationPolicy` | The easiness of cancelling the reservation
`Accomodates` | The number of guests the lodging can handle 
`RoomType` | The type of the lodging.
`Bathrooms` | The number of bathrooms
`Bedrooms` | The number of bedrooms
`CleaningFee` | The fee charged to clean the room after ending the accommodation
`Latitude` | Latitude of the property
`Longitude` | Longitude of the property
`ReviewRating`|  The average score of reviews
`Price` | The lodging price per night (Target Variable)

## Data Wrangling & Visualization

In [ ]:
# Dataset is already loaded below
data = pd.read_csv("train.csv")

In [ ]:
data.head()

,ID,District,Neighborhood,PropertyType,CancellationPolicy,Accommodates,RoomType,Bathrooms,Bedrooms,CleaningFee,Latitude,Longitude,ReviewRating,Price
0,698375,Manhattan,NoHo,Apartment,strict,4,Entire home/apt,1.0,1.0,75.0,40.727692,-73.991930,93.0,300.0
1,3041785,Manhattan,East Village,Loft,strict,7,Entire home/apt,2.0,3.0,100.0,40.728888,-73.988532,85.0,249.0
2,17222167,Manhattan,Harlem,Apartment,strict,2,Private room,1.0,1.0,17.0,40.820182,-73.946286,100.0,48.0
3,10366570,Manhattan,Harlem,Apartment,moderate,4,Entire home/apt,1.0,1.0,45.0,40.817061,-73.936558,94.0,125.0
4,10838084,Manhattan,Washington Heights,Apartment,strict,2,Private room,1.0,1.0,30.0,40.856122,-73.930240,92.0,45.0

In [ ]:
#Explore columns
data.columns

Index(['ID', 'District', 'Neighborhood', 'PropertyType', 'CancellationPolicy',
       'Accommodates', 'RoomType', 'Bathrooms', 'Bedrooms', 'CleaningFee',
       'Latitude', 'Longitude', 'ReviewRating', 'Price'],
      dtype='object')

In [ ]:
#Description_1
data.describe()

,ID,Accommodates,Bathrooms,Bedrooms,CleaningFee,Latitude,Longitude,ReviewRating,Price
count,6.000000e+03,6000.000000,5969.000000,5992.000000,4561.000000,6000.000000,6000.000000,6000.000000,5974.000000
mean,9.167888e+06,2.893500,1.093483,1.095628,67.502960,40.764430,-73.973469,92.788000,164.486441
std,5.546844e+06,1.756134,0.351017,0.673336,46.316456,0.039392,0.023076,8.691048,116.320182
min,2.515000e+03,1.000000,0.000000,0.000000,0.000000,40.586936,-74.018104,20.000000,10.000000
25%,4.294022e+06,2.000000,1.000000,1.000000,35.000000,40.729483,-73.991534,90.000000,90.000000
50%,9.364843e+06,2.000000,1.000000,1.000000,60.000000,40.760914,-73.980148,95.000000,135.000000
75%,1.412299e+07,4.000000,1.000000,1.000000,90.000000,40.796176,-73.952241,100.000000,200.000000
max,1.849140e+07,16.000000,6.000000,6.000000,500.000000,40.876831,-73.798061,100.000000,999.000000

In [ ]:
#Description_2
data.describe(exclude=np.number)

,District,Neighborhood,PropertyType,CancellationPolicy,RoomType
count,6000,6000,6000,6000,6000
unique,4,65,18,3,3
top,Manhattan,Harlem,Apartment,strict,Entire home/apt
freq,5890,797,5640,3264,3459

In [ ]:
# Coming from no machine learning experience, 
# I'm hoping to learn a bunch!

# NOTES: 
#     1. using MAPE to evaluate (don't know this so will look into this)

In [ ]:
Starting from previous experience and hoping to expand from there:

Procedure:
    1. look at seperate features
    2. estimate important features
    3. Start looking at them through data science visualizations.

## Visualization, Modeling, Machine Learning

Can you build a model that can evaluate the lodging and propose a fair price for a night dependent on the given features? Please explain your findings effectively to technical and non-technical audiences using comments and visualizations, if appropriate.

- **Build an optimized model that effectively solves the business problem.**
- **The model would be evaluated on the basis of mean absolute percent error.**
- **Read the test.csv file and prepare features for testing.**

In [ ]:
#Loading Test data
test_data=pd.read_csv('test.csv')
test_data.head()

,ID,District,Neighborhood,PropertyType,CancellationPolicy,Accommodates,RoomType,Bathrooms,Bedrooms,CleaningFee,Latitude,Longitude,ReviewRating
0,2447138,Manhattan,Tribeca,Apartment,strict,4,Entire home/apt,2.0,2.0,80.0,40.720234,-74.007154,100.0
1,28907,Manhattan,Upper East Side,Apartment,moderate,4,Entire home/apt,1.0,1.0,75.0,40.778005,-73.948215,99.0
2,10313703,Manhattan,Flatiron District,Apartment,strict,7,Entire home/apt,2.0,3.0,200.0,40.741396,-73.991418,91.0
3,4267133,Manhattan,Lower East Side,Apartment,flexible,2,Private room,1.0,1.0,NaN,40.721555,-73.987115,90.0
4,14749302,Manhattan,Kips Bay,Apartment,moderate,6,Entire home/apt,1.0,1.0,125.0,40.744377,-73.980386,96.0



**The management wants to know what are the most important features for your model.  Can you tell them?**

> #### Task:
- **Visualize the top 10 features and their feature importance.**

> #### Task:
- **Submit the predictions on the test dataset using your optimized model** <br/>
    For each record in the test set (`test.csv`), you must predict the value of the `Price` variable. You should submit a CSV file with a header row and one row per test entry. The file (submissions.csv) should have exactly 2 columns:

The file (`submissions.csv`) should have exactly 2 columns:
   - **ID**
   - **Price**

In [ ]:
#Submission
submission_df.to_csv('submissions.csv',index=False)

---